<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} - {{/if}}{{siteName}}</title>
    <meta name="description" content="{{#if description}}{{description}}{{else}}{{siteName}}{{/if}}">
    <link rel="stylesheet" href="{{baseUrl}}css/style.css">
    <link rel="stylesheet" href="{{baseUrl}}css/syntax.css">
</head>
<body>
    {{include "partials/header.hbs"}}
    <main class="main-content">
        {{{content}}}
    </main>
    {{include "partials/footer.hbs"}}
</body>
</html>
