<header class="site-header">
    <div class="header-wrapper">
        <div class="logo">
            <a href="{{baseUrl}}">
                <img src="{{baseUrl}}images/statik.png" alt="Statik Logo" class="logo-image">
                <span class="logo-text">Statik</span>
            </a>
        </div>
        <nav class="main-nav">
            <a href="{{baseUrl}}" class="nav-link{{#unless page}}{{#unless post}} active{{/unless}}{{/unless}}">Home</a>
            <a href="{{baseUrl}}getting-started" class="nav-link{{#if page}}{{#eq page.path "getting-started"}} active{{/eq}}{{/if}}">Getting Started</a>
            <a href="{{baseUrl}}layouts" class="nav-link{{#if page}}{{#unless page.gettingStarted}} active{{/unless}}{{/if}}">Documentation</a>
            <a href="https://github.com/ptmt/statik" class="nav-link nav-link-github" target="_blank">
                <span>GitHub</span>
                <span class="external-icon">↗</span>
            </a>
        </nav>
    </div>
</header>
